<h2><%= @item.name %></h2> <br>
<h4><%= @item.quantity %></h4>

<%= link_to "All Items", items_path %>
<%= link_to "Edit", edit_item_path(@item) %>
<%= button_to "delete", @item, :method => :delete %>